<form action="" id="loginForm" class="authForm">
    <input type="text" id="loginEmail" placeholder="loginEmail" name="loginEmail">
    <input type="password" id="loginPassword" placeholder="loginPassword" name="loginPassword">
    <button>Login</button>
</form>

<script src="/js/login.js"></script>