<form action="" id="signupForm" class="authForm">
    <input type="text" id="signupUsername" placeholder="signupUsername" name="signupUsername">
    <input type="text" id="signupEmail" placeholder="signupEmail" name="signupEmail">
    <input type="password" id="signupPassword" placeholder="signupPassword" name="signupPassword">
    <textarea id="signupBio" placeholder="bio...." ></textarea>
    {{!-- TODO: add way for new users to like/dislike flavors --}}
    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>