body {
    background:salmon
}

.authForm {
    border:2px solid black;
    border-radius: 10px;
    /* min-height:50vh; */
    margin:0 auto;
    width:50vw;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    
}

.authForm input, .authForm button,.authForm textarea{
    width: 90%;
    display: block;
    margin:10px auto;
}